/*Resetea todos los estilos del navegador */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body {
    height: 100vh; 
    margin: 0;
}
body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*escenario*/
.stage{
    width: 500px;
    height: 500px;
    border: 4px solid black;
    position: relative;
    overflow:hidden;
}
/*circulo interior de la pelota*/
.ball::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 50%;
	border: 5px solid white;
	border-radius: 50%;
	box-sizing: border-box;/*Calcula ancho y alto, teniendo en cuenta el borde que le hemos puesto*/
	background: transparent;
	top: 25%;/*Centramos el circulo*/
    left: 25%;/*Centramos el circulo*/
	filter: blur(1px);/*desenfoque*/
}
/*pelota*/
.ball{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius:50%;
    position: absolute;
    overflow: hidden;
    left:0px; 
    top:20px;
    /*animacion, 2 animaciones, botando en vertical y desplazamiento horizontal*/
    animation: bounce-the-ball-vertical ease-in 1s alternate infinite, 
    bounce-the-ball-horizontal linear 3s alternate infinite;
    /*cubic-bezier(0.8,1,1,0.9)*/

    


}
@keyframes bounce-the-ball-vertical{   
    0%{
        top:20px;
    }
    75%{
     width: 80px; 
    }
    100%{
       top:430px;
       width: 60px;       
    }        
}
@keyframes bounce-the-ball-horizontal{
    from{
        left:0px; 
    }
    to{
        left:425px;
    }      
}
/* se puede usar from to o porcentajes*/





	